.mainList{ 
    padding: 10px;
    .MuiPaper-root-18{  
        margin-bottom: 20px; 
        & div{
            display: flex;
            flex-wrap: wrap;
            & * { 
                width: 50%;
                padding: 0;
                margin: 0;
                &:nth-child(even){
                    text-align: right;
                }
            }
            & i{
                color: gray;
            }
        }
    }
    .display-list-item{ 
        margin-bottom: 12px;
        & div{
            display: flex;
            flex-wrap: wrap;
            & :nth-child(even){
                text-align: right;
            }
            & h2, & p{ 
                width: 50%;
            }
        }
    }
}